.nav {
  margin-top: 18px;
}

.nav-list {
  display: flex;
}

.nav-item {
  display: block;
  margin-right: space(2);
  &:last-child {
    margin-right: 0;
  }
}

.nav-link {
  color: #652ad4;
  padding-bottom: space(0.5);
  position: relative;
  &:hover {
    color: plum;
    transition: 0.3s;
  }
}
