{% include "02-organisms/meta/header.twig" %}
<main class="u-container">
  <h1 class="u-heading-1">{{ title }}</h1>
  {% include "02-organisms/misc/grid.twig" %}
</main>
{% include "01-molecules/meta/footer.twig" %}
