<a
  class="logo{% if logo_large %} logo--large{% endif %}"
  href="{{ attribute(link, 'pages-home') }}"
>
  <span class="logo--created">Created</span>
  <span class="logo--to">to</span>
  <span class="logo--worship">WRSHP</span>
</a>
