<article class="type type--{{ loop.index }}">
  <a class="type__link" href="#">
    <h3 class="type__heading">{{ type.heading }}</h3>
    <p class="type__description">{{ type.description }}</p>
  </a>
</article>
