<div style="margin: 2rem;">
  <p class="u-text">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate itaque
    eius similique quasi nihil eos <a class="u-link" href="#">u-link</a> natus
    eaque libero, expedita repellat illo distinctio perferendis laborum? Enim
    non suscipit natus modi et.
  </p>
</div>
