.logo {
  @include font-secondary;
  display: inline-block;

  &--created,
  &--worship {
    font-size: fontSize(2);
    font-weight: $weight-light;
    @include breakpoint-up {
      font-size: fontSize(3);
    }
  }
  &--created {
    text-transform: lowercase;
    margin-right: -10px;
    @include breakpoint-up {
      margin-right: -11px;
    }
  }
  &--to {
    transform: rotate(-90deg);
    text-transform: uppercase;
    font-size: fontSize(-2);
    font-weight: $weight-medium;
    padding-left: 8px;
    letter-spacing: $spacing;
    @include breakpoint-up {
      font-size: fontSize(-1);
    }
  }
  &--worship {
    margin-left: -11px;
    @include breakpoint-up {
      margin-left: -12px;
    }
  }
  &--large {
    display: block;
    .logo {
      &--created,
      &--worship {
        font-size: fontSize(3);
        @include breakpoint-up {
          font-size: fontSize(7);
        }
      }
      &--created {
        margin-left: -11px;
        @include breakpoint-up {
          margin-right: -26px;
        }
      }
      &--to {
        font-size: fontSize(-1);
        @include breakpoint-up {
          font-size: fontSize(3);
          padding-left: 19px;
        }
      }
      &--worship {
        margin-left: -12px;
        @include breakpoint-up {
          margin-left: -30px;
        }
      }
    }
  }

  span {
    display: inline-block;
  }
}
