.type {
  transition: 0.3s ease-in-out;
  @include breakpoint-up {
    margin-bottom: space(-2);
    &:last-child {
      margin-bottom: 0;
    }
  }
  &:hover,
  &:active,
  &:focus {
    transform: scale(1.05);
    > * {
      box-shadow: $box-shadow;
    }
  }
  &--1 {
    > * {
      background-image: linear-gradient(to right, white, tan);
    }
  }
  &--2 {
    > * {
      background-image: linear-gradient(to right, thistle, white);
    }
  }
  &--3 {
    > * {
      background-image: linear-gradient(to right, white, coral);
    }
  }
  &--4 {
    > * {
      background-image: linear-gradient(to right, steelblue, white);
    }
  }
}

.type__link {
  display: block;
}
