.u-container {
  padding: 0 space(2);
  @include breakpoint-up($sm) {
    padding: 0 space(4);
  }
  @include breakpoint-up {
    max-width: #{$lg}rem;
    margin: 0 auto;
    padding: 0 space(8);
  }
}

main {
  > * {
    margin-bottom: space(10);
    @include breakpoint-up {
      margin-bottom: space(15);
    }
  }
}
