<section class="hero">
  <h1 class="hero__description">
    {{ hero__description }}
    <div class="logo logo--large">
      <span class="logo--created">Created</span>
      <span class="logo--to">to</span>
      <span class="logo--worship">WRSHP</span>
    </div>
  </h1>
  <div class="hero__video">
    {% include "01-molecules/misc/video.twig" %}
  </div>
</section>
