<nav class="sidenav">
  <div class="sidenav__nav" id="sidenav__nav">
    {% include "01-molecules/misc/logo.twig" %}
    <a class="sidenav__link" href="#">Nav link</a>
    <a class="sidenav__link" href="#">Nav link</a>
    <a class="sidenav__link" href="#">Nav link</a>
  </div>
  <button class="sidenav__toggle" id="sidenav__toggle">
    <span></span>
    <span></span>
    <span></span>
  </button>
</nav>
