// Breakpoints
@mixin breakpoint-up($breakpoint-min: $md) {
  @media (min-width: #{$breakpoint-min}rem) {
    @content;
  }
}

@mixin breakpoint-down($breakpoint-max: $md) {
  @media (max-width: #{$breakpoint-max - 0.001}rem) {
    @content;
  }
}

@mixin breakpoint-between($breakpoint-min, $breakpoint-max) {
  @media (min-width: #{$breakpoint-min}rem) and (max-width: #{$breakpoint-max - 0.001}rem) {
    @content;
  }
}

// Containers
@mixin header-footer-container($margin-y: 0) {
  @include breakpoint-up($xl) {
    max-width: #{$xl}rem;
    margin: #{$margin-y}px auto;
  }
}

// Fonts/Text
@mixin font-sizing-default {
  font-size: fontSize(0);
  @include breakpoint-up {
    font-size: fontSize(1);
  }
}

@mixin font-primary {
  font-family: "Montserrat Alternates", sans-serif, Arial;
}

@mixin font-secondary {
  font-family: "Quicksand", sans-serif, Arial;
}

@mixin font-tertiary {
  font-family: "Amatic SC", sans-serif, Arial;
}

@mixin heading($level: 1) {
  font-weight: $weight-medium;
  @if $level == 2 {
    font-size: fontSize(2);
    margin: space(3) 0;
    @include breakpoint-up {
      font-size: fontSize(3);
      margin: space(4) 0;
    }
  } @else if $level == 3 {
    font-size: fontSize(1);
    margin: space(2) 0;
    @include breakpoint-up {
      font-size: fontSize(2);
      margin: space(3) 0;
    }
  } @else {
    font-size: fontSize(3);
    margin: space(4) 0;
    @include breakpoint-up {
      font-size: fontSize(4);
      margin: space(5) 0;
    }
  }
}
