.u-heading-1 {
  @include font-secondary;
  @include heading;
}

.u-heading-2 {
  @include font-secondary;
  @include heading(2);
  &--lg-mb {
    margin-bottom: space(5);
    @include breakpoint-up {
      margin-bottom: space(7);
    }
  }
}

.u-heading-3 {
  @include font-secondary;
  @include heading(3);
  &--center {
    text-align: center;
  }
}

.u-text {
  margin-bottom: space(2);
  &:last-child {
    margin-bottom: 0;
  }
  // &--center {
  //   @include breakpoint-down {
  //     text-align: center;
  //   }
  // }
  &--highlighted {
    padding: space(2) space(4);
  }
}
