.hero {
  text-align: center;
  height: calc(100vh - #{$header-height + space(2)});
  padding-top: 25%;
  @include breakpoint-up {
    height: calc(100vh - #{$header-height--md + space(2)});
    padding-top: space(14);
  }
}

.hero__description {
  font-size: fontSize(1);
  font-weight: $weight-light;
  margin-bottom: percentage(1 / 6);
  @include breakpoint-up {
    font-size: fontSize(5);
    margin-bottom: space(10);
  }

  > *:first-child {
    @include breakpoint-down {
      margin-top: space(1);
    }
  }
}

.hero__video {
  max-width: space(80);
  margin: 0 auto;
  @include breakpoint-down {
    padding: 0 space(1);
  }
}
