.header {
  @include header-footer-container;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: space(1) space(2);
  @include breakpoint-up {
    padding: 0 0 0 space(3);
  }
  @include breakpoint-up(78) {
    padding: 0;
  }
}
